.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  z-index: 999;
}

.logo-text {
    
    text-decoration: none;
  font-size: 2em;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px; 
}


.nav-links li a {
    text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.nav-links li a.active {
  border-bottom: 2px solid yellow;
  color:blanchedalmond;
}
.nav-links li a:hover{
    color:blanchedalmond;

}

.log-btn{
    background-color: aliceblue;
}